# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Entornos virtuales
venv/
.env/
.venv/

# Variables sensibles
.env

# Logs
*.log

# Testing
.coverage
htmlcov/
.pytest_cache/



# Sistema
.DS_Store
Thumbs.db

dist/
build/
*.spec